
.drop-zone{
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  border: 4px dashed #c3c4c7;
}

.dragover .drop-zone {
  z-index: 1000;
  border: 4px dashed #fff;
  color: #fff;
}

.drop-zone h2{
 text-align: center;
 font-size: 1.3rem;
}

.dragover::after{
  background: rgba(0,0,0,.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  z-index:999;
}

 
.m-list-card .card{
    transition: all .3s;
}

.m-list-card .card-img-top{
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    max-width: 300px;
}

.m-list-card:hover .card{
    box-shadow: 0px 0px 5px 5px rgba(1, 41, 112, 0.1);
}

/*#all_items .thumbnail{
amargin: 5px;
paadding: 0;
cursor: pointer;
border: 1px solid rgba(0,0,0,.1);
}*/

#editMediaModal #img_details{
display: block;
  margin: 0 auto 16px;
  max-width: 100%;
  max-height: 350px;

}

#editMediaModal #img_url{
  word-break: break-all;
  line-height: 1.5;

}
